jsonschema==3.2.0
fastavro[codecs]==1.2.0
jsonschema==3.2.0
python-dateutil==2.8.1
shelljob==0.6.2
email-validator==1.1.2
tqdm==4.54.0
python-slugify==4.0.1
peewee==3.13.3
gspread==5.4.0
gspread-dataframe==3.3.0
avro-python3==1.10.1
coloredlogs==15.0
schedule==0.6.0
ujson==5.2.0
dacite==1.6.0
openpyxl==3.0.5
deepmerge==0.3.0
pint==0.17
loguru==0.6.0
elasticsearch==7.15.0
confluent-kafka==1.7.0
kafka-python==2.0.2
fastapi[all]==0.78.0
redis==4.3.3
motor==2.4.0